$notifications-list-translate: -($notifications-list-width / 2) + 25px;
$notifications-list-lip-height: 10px;

.notifications-list-container {
    height: 300px;
    width: $notifications-list-width;
    background: rgba(33,33,33,.95);
    position: absolute;
    top: 60px;
    overflow: hidden;
    transform: translateX($notifications-list-translate);
    box-shadow: 0 4px 7px 2px rgba(0,0,0,.4);

    @include breakpoint(medium only) {
        right: 0;
        transform: none;
    }

    @include breakpoint(small only) {
        width: 100%;
        left: 0;
        transform: none;
    }

    .notifications-fetching,
    .notifications-error {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        font-size: 24px;
        text-align: center;
        padding: 10px;
        margin: 10px;
        background: rgba(255,255,255,0.1);
        border-radius: 10px;

        .fa{
            margin-bottom: 10px;
        }
    }

    .notifications-fetching {
        color: #aaa;
    }

    .notifications-error {
        border: 1px solid $alert-error;
        .fa{
            color: $alert-error;
        }
    }

    .notifications-topbar {
        position: relative;
        z-index: 1;
        font-size: 13px;
        text-align: left;
        height: 35px;
        background: $darkblue;
        border-bottom: 2px solid rgba(0,0,0,0.7);

        &.read {
            background: $alert-default;
        }

        &.off {
            background: $alert-error;
        }

        .notifications-topbar-text {
            display: inline-block;
            padding: 10px;
        }

        .notifications-topbar-menu {
            width: 35px;
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            float: right;
            cursor: pointer;

            .fa-cog{
                color: darken($white, 10%);
                @include transition(0.2s all);
            }

            &:hover{
                .fa-cog{
                    color: $white;
                    @include transform(rotate(45deg));
                    @include transition(0.2s all);
                }
            }
        }

        span{
            font-weight: bold;
        }
    }

    .notifications-list{
        position: relative;
        z-index: 0;
        height: 265px;
        overflow-y: scroll;
    }

    .notifications-none {
        display: block;
        background: rgba(255,255,255,.1);
        border: 1px solid rgba(255,255,255,.05);
        border-radius: 2px;
        padding: 50px 10px;
        margin: 10px 20px;
        text-align: center;

        .fa{
            padding-right: 10px;
        }
    }

    .notification{
        display: block;
        height: 60px;
        width: auto;
        background: lighten($darkgray1, 5%);
        margin-bottom: 2px;
        font-size: 14px;
        cursor: pointer;
        position: relative;
        @include transition(all 0.1s);

        &.received{
            background: darken($darkgray1, 5%);

            &:hover{
                background: darken($darkgray1, 3%);
                @include transition(all 0.1s);
            }

            .notification-img{
                background: darken($darkgray1, 5%);
            }

            .notification-content {
                color: darken($white, 30%);

                .notification-message-link {
                    color: darken($white, 30%);

                    &:hover{
                        color: $white;
                        text-decoration: underline;
                    }
                }
            }
        }

        .notification-img {
            display: inline-block;
            float: left;
            width: $notification-img-length;
            height: inherit;
            text-align: center;
            background: lighten($darkgray1, 5%);
            overflow: hidden;

            img{
                opacity: 0.8;
                height: $notification-img-length;
                max-width: $notification-img-length;
            }
        }

        .notification-content {
            position: relative;
            height: inherit;
            margin-left: $notification-img-length;
            padding: 5px 10px 5px 10px;
            text-align: left;

            p{
                font-size: 1em;
                line-height: 1.2;
                margin-bottom: 0;
                @include ellipsis(2.4em, 2);
            }

            .notification-message-link {
                font-weight: bold;
                color: $lightblue;

                &:hover{
                    padding-bottom: 1px;
                    color: darken($lightblue, 20%);
                    text-decoration: underline;
                }
            }

            .notification-timestamp {
                display: block;
                color: #aaa;
                font-size: 11px;
                padding-top: 5px;

                .fa{
                    padding-right: 5px;
                }


            }
        }

        &:hover{
            background: lighten($darkgray1, 10%);
            @include transition(all 0.1s);

            .notification-img{
                img{
                    opacity: 1;
                }
            }
        }

        .notification-settings {
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px 15px 15px;
            cursor: pointer;
            @include transition(all 0.1s);

            .fa-angle-down{
                font-size: 14px;
                color: darken($white, 30%);
                text-shadow: none;
                cursor: pointer;
                pointer-events: none;
            }

            &:hover{
                .fa-angle-down{
                    color: $white;
                    @include transition(all 0.1s);
                }
            }

            .notification-menu {
                border-radius: 2px;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
                background: rgba(10,10,10,0.3);
                color: #eee;
                position: absolute;
                right: 20px;
                font-size: 13px;

                .notification-menu-option {
                    padding: 8px 15px;

                    strong{
                        font-weight: 900;
                    }

                    .fa{
                        font-size: 13px;
                        padding: 0 8px 0 0;
                        margin: 0 auto;
                        color: inherit;
                    }

                    &:hover{
                        background: $orange;
                    }
                }
            }
        }
    }
}

.notifications-lip {
    display: block;
    position: fixed;
    width: $notifications-list-width;
    transform: translateX($notifications-list-translate);
    top: $header-height + $notification-height - $notifications-list-lip-height;
    background: -webkit-linear-gradient(top, transparent, rgba(0,0,0,0.4));
    height: $notifications-list-lip-height;
    border-bottom: 1px solid $lightblue;

    @include breakpoint(medium only) {
        right: 0;
        transform: none;
    }

    @include breakpoint(small only) {
        width: 100%;
        left: 0;
        transform: none;
    }

}
