// Tonal - Main Color Palette
$white: #f5f5f5;
$black: #212121;
$lightgray1: #bdbdbd;
$midgray1: #757575;
$darkgray1: #313131;
$orange: #f49800;
$yellow: #fffe21;
$red: #e30713;
$magenta: #e91e63;
$blue: #2199e8;
$darkblue: #009688;
$lightblue: #9ef6ec;
$purple: #ec7af3;
$pink: #f69ee6;
$mintgreen: #8bc34a;
$lightgreen: #3ef669;

// Alert themes
$alert-default: lighten($black, 20%);
$alert-info: lighten($blue, 20%);
$alert-success: lighten($lightgreen, 20%);
$alert-error: lighten($red, 20%);
$alert-warning: lighten($yellow, 20%);
$alert-admin: lighten($orange, 20%);

// Highlighters
$highlight-hashtag: #d2fffa;
$highlight-mention: #c8ffdd;

// Layering
$fullscreen-alert-zindex: 11000;
$menu-pusher-zindex: 10000;
$loginmodal-zindex: 200;
$modaloverlay-zindex: 150;
$search-zindex: 150;
$header-popup-menu: 110;
$header-zindex: 100;
$tabs-zindex: 100;
$alert-zindex: 50;

// General
$highlight1: $darkblue;
$highlight2: $lightblue;
$light-text: #eee;
$dark-text: #222;
$light-bg: $white;
$dark-bg: $darkgray1;
$modal-bg: rgba(0,0,0,0.6);
$shadow-dark: rgba(0,0,0,0.7);
$shadow-light: rgba(225,225,225,0.3);
$inactive-light: #e1e1e1;
$facebook: #3b5998;

// Shadows
$headershadow: 0 2px 13px 1px rgba(0,0,0,.45);
$boxshadow: 15px 3px 25px 0 rgba(0,0,0,0.3);

// Fonts
$main-font: "Lato", sans-serif;
$login-font: "NexaLightRegular", Arial, sans-serif;

// Header
$header-height: 60px;
$header-background: $black;
$header-text: $white;
$header-link: $midgray1;
$header-link-hover1: $darkblue;
$header-link-hover2: $lightblue;
$header-logo-height: 35px;
$header-logo-width: 118px;
$header-logo-height-mobile: 35px;
$header-logo-width-mobile: 45px;
$header-link-fontsize: 16px;
$header-icon-div-size: 40px;
$notification-height: 300px;
$notification-img-length: 60px;

// Composer
$composer-font-size: 20px;
$composer-error: #f5928b;
$composer-error-bg: #f5dfdd;

// Notifications
$notifications-list-width: 500px;

// Search Bar
$search-bg: $darkgray1;
$search-height: 40px;
$search-width: 200px;
$search-media-bg1: rgba($lightgray1, 0.05);
$search-media-bg2: rgba($lightgray1, 0.1);
$search-media-border:rgba($lightblue, 0.8);

// Settings
$settings-background: $darkgray1;
$settings-width: 250px;
$settings-font-size: 12px;
$settings-padding: 14px;
$settings-link-text: $inactive-light;

// Content Area
$content-width: 80%;
$content-width-small-view: 100%;
$content-top-padding: 20px;
$content-bg1: #424242;
$content-bg2: #686868;
$content-bg3: rgb(36, 35, 42);
$content-bg4: rgb(86, 86, 92);

// Tabs
$number-of-tabs: 4;
$tabs-bg1: $darkgray1;
$tabs-bg2: $black;
$tabs-bg-hover: $darkgray1;
$tabs-icon-size: 36px;

// Post
$post-avatar-size: 70px;
$post-font-size: 16px;
$post-large-font-size: 28px;
$user-preview-avatar: 100px;
