@mixin alertTheme{

    $alertThemes: (
        default $alert-default $light-text,
        info $alert-info $light-text,
        success $alert-success $dark-text,
        error $alert-error $light-text,
        warning $alert-warning $dark-text,
        admin $alert-admin $light-text
    );

    @each $item in $alertThemes{

        .#{nth($item, 1)}{
            background: rgba(nth($item, 2), .97);

            .tonal-alert-title{
                background: darken(rgba(nth($item, 2), .97), 5%);
            }

            h4, p{
                color: nth($item, 3);
            }
        }
    }
}

.tonal-alert{
	position: relative;
	z-index: 500;
	background: $alert-default;
	width: 100%;
	min-height: 150px;
	color: $light-text;
    padding: 0;

	h4, p{
		background: transparent;
        padding: 15px;
	}

    .fa{
        padding-right: 10px;
    }

}

@include alertTheme;
