$header-notifications-list-width: 500px;
$header-notifications-list-translate: -($header-notifications-list-width / 2) + 25px;
$header-notifications-list-lip-height: 20px;

.header-notifications-list {
    height: 300px;
    width: $header-notifications-list-width;
    background: rgba(33,33,33,.95);
    border-bottom: 1px solid #9ef6ec;
    position: absolute;
    top: 60px;
    transform: translateX($header-notifications-list-translate);
    overflow-y: scroll;
    box-shadow: 0 4px 7px 2px rgba(0,0,0,.4);

    @include breakpoint(medium only) {
        right: 0;
        transform: none;
    }

    @include breakpoint(small only) {
        width: 100%;
        left: 0;
        transform: none;
    }

    .header-notifications-none {
        display: block;
        background: rgba(255,255,255,.1);
        border: 1px solid rgba(255,255,255,.05);
        border-radius: 10px;
        padding: 50px 10px;
        margin: 10px 20px;
        text-align: center;

        .fa{
            padding-right: 10px;
        }
    }

    .header-notification{
        display: block;
        height: 60px;
        width: auto;
        background: lighten($darkgray1, 5%);
        margin-bottom: 2px;
        font-size: 14px;
        cursor: pointer;

        &.received{
            background: darken($darkgray1, 5%);

            &:hover{
                background: darken($darkgray1, 3%);
            }

            .header-notification-img{
                background: darken($darkgray1, 5%);
            }

            .header-notification-content {
                color: darken($white, 30%);

                .header-notification-message-link {
                    color: darken($white, 30%);

                    &:hover{
                        color: $white;
                        text-decoration: underline;
                    }
                }
            }
        }

        .header-notification-img {
            display: inline-block;
            float: left;
            width: $header-notification-img-length;
            height: inherit;
            text-align: center;
            background: lighten($darkgray1, 5%);
            overflow: hidden;

            img{
                opacity: 0.8;
                height: $header-notification-img-length;
                max-width: $header-notification-img-length;
            }
        }

        .header-notification-content {
            height: inherit;
            margin-left: $header-notification-img-length;
            padding: 5px 10px 5px 10px;
            text-align: left;

            p{
                font-size: 1em;
                line-height: 1.2;
                margin-bottom: 0;
                @include ellipsis(2.4em, 2);
            }

            .header-notification-message-link {
                font-weight: bold;
                color: $lightblue;

                &:hover{
                    padding-bottom: 1px;
                    color: darken($lightblue, 20%);
                    text-decoration: underline;
                }
            }

            .header-notification-timestamp {
                display: block;
                color: #aaa;
                font-size: 11px;
                padding-top: 5px;
            }
        }

        &:hover{
            background: lighten($darkgray1, 10%);

            .header-notification-img{
                img{
                    opacity: 1;
                }
            }
        }

        .header-notification-settings {
            float: right;
            padding-left: 10px;
            padding-top: 0;

            .fa-angle-down{
                font-size: 14px;
                color: darken($white, 30%);
                text-shadow: none;

                &:hover{
                    color: $white;
                }
            }

            .header-notification-menu {
                border-radius: 2px;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
                background: rgba(10,10,10,0.3);
                color: #eee;
                position: absolute;
                right: 20px;
                font-size: 13px;

                .header-notification-menu-option {
                    padding: 8px 15px;

                    strong{
                        font-weight: 900;
                    }

                    .fa{
                        font-size: 13px;
                        padding: 0 8px 0 0;
                        margin: 0 auto;
                        color: inherit;
                    }

                    &:hover{
                        background: $orange;
                    }
                }
            }
        }
    }
}

.header-notifications-lip {
    display: block;
    position: fixed;
    width: $header-notifications-list-width;
    transform: translateX($header-notifications-list-translate);
    top: $header-height + $header-notification-height - $header-notifications-list-lip-height;
    background: -webkit-linear-gradient(top, transparent, rgba(0,0,0,0.9));
    height: $header-notifications-list-lip-height;

    @include breakpoint(medium only) {
        right: 0;
        transform: none;
    }

    @include breakpoint(small only) {
        width: 100%;
        left: 0;
        transform: none;
    }

}
