
*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body{
	font-family: $main-font;
}

html,
body,
.tonal-container,
.tonal-pusher,
.tonal-main{
	margin: 0;
	padding: 0;
    height: 100vh;
	width: 100vw;
}

.tonal-main {
	overflow-y: scroll;
	@include gradient(top, $content-bg1, $content-bg2);
}

.tonal-main,
.tonal-main-inner {
	position: relative;
}

.tonal-container {
	position: relative;
	overflow: hidden;
}

.tonal-content{
	color: $white;
	margin-top: $header-height + 5px;
	margin-bottom: 100px;
}

.blur{
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  -o-filter: blur(1px);
  filter: blur(1px);
  @include transition(all 0.3s);
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px transparent inset; /* Change the color to your own background color */
    -webkit-text-fill-color: $yellow;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px transparent inset;
    -webkit-text-fill-color: $alert-warning;
}
