.tonal-header{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    line-height: 1;
    z-index: 10;
    background-color: $header-background;
    color: $header-text;
    font-family: $header-font;
    height: $header-height;
    width: 100%;
    @include boxshadow(0 4px 6px 0 $modal-bg);

    .header-action{
        position: absolute;
        top: ($header-height - $search-height) / 2;
        right: auto;
        height: $search-height;
        width: $search-height;
        color: $white;
    }

    .tonal-links{

        nav{
            display: none;

            @include breakpoint(large up) {
                display: block;
                overflow: hidden;

                a {
                	position: relative;
                	display: inline-block;
                	outline: none;
                	text-decoration: none;
                    // text-transform: uppercase;
                	letter-spacing: 1px;
                	font-weight: 200;
                	text-shadow: 0 0 1px $shadow-light;
                	font-size: $header-link-fontsize;
                    cursor: pointer;
                    height: $header-height;

                    &:hover, &:focus{
                        outline: none;
                    }
                }
            }
        }
    }

    .links a {
    	color: $header-link;
        padding: (($header-height - $header-link-fontsize) / 2) 12px;
        white-space: nowrap;
        text-shadow: none;

        &::before{
            position: absolute;
            top: (($header-height - $header-link-fontsize) / 2);
            left: 12px;
            overflow: hidden;
            max-width: 0;
            // border-bottom: 3px solid $header-link-hover1;
            // color: $header-link-hover;
            content: attr(data-hover);
            @include gradient(top, $header-link-hover1 0, $header-link-hover2 50%);
            @include transition(0.3s);

            background-position: 0 100%;
            background-size: 200% 200%;
            color: transparent;
            -webkit-background-clip: text;
        }

        &:hover::before,
        &:focus::before{
            max-width: 100%;
            background-position: 0 0;
            color: transparent;
        }
    }

    .logo {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        padding:(($header-height - $header-logo-height) / 2) 0;
        height: $header-logo-height;
        width: $header-logo-width;
    }

    .fa {
        font-size: 18px;
        padding-top: 12px;
        text-shadow: 1px 1px 1px rgba(200,200,200,1);
    }

    .hi-icon {
    	display: inline-block;
    	cursor: pointer;
    	width: $header-height - 10px;
    	height: $header-height - 10px;
    	border-radius: 50%;
    	text-align: center;
    	position: relative;
    	z-index: 1;
    	color: $white;
    }

    .hi-icon:after {
    	pointer-events: none;
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	border-radius: 50%;
    	content: '';
    	-webkit-box-sizing: content-box;
    	-moz-box-sizing: content-box;
    	box-sizing: content-box;
    }

    .hi-icon:before {
    	font-size: 24px;
    	line-height: 48px;
    	-webkit-font-smoothing: antialiased;
    }

    /* Effect 1 */
    .hi-icon-effect-1 .hi-icon {
        margin-top: 5px;
    	// background: rgba(255,255,255,0.3);
        @include transition(background 0.2s, color 0.2s);
    }

    .hi-icon-effect-1 .hi-icon:after {
        top: 0;
        left: 0;
        padding: 0;
        box-shadow: inset 0 0 0 2px #9ef6ec;
        @include transition(0.2s, opacity 0.2s);
        @include transform(scale(.8));
    	opacity: 0;
    }

    /* Effect 1b */
    .hi-icon-effect-1.hi-icon-effect-1b {
        display: inline-block;
        padding: 0 10px 0 0;
    }

    .hi-icon-effect-1b .hi-icon:hover {
    	background: transparent;
    	color: $highlight2;
    }

    .hi-icon-effect-1b .hi-icon:after {
    	@include transform(scale(1.2));
    }

    .hi-icon-effect-1b .hi-icon:hover:after {
    	@include transform(scale(1));
    	opacity: 1;
    }
}
