.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.morphsearch {
	min-height: $search-height;
    display: inline-block;
	@include gradientBG(top, darken(rgba($search-bg, .9), 10%), darken(rgba($search-bg, .9), 30%));
	z-index: 1000;
    width: auto;
	margin-top: ($header-height - $search-height) / 2;
    border-radius: 12px;
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.morphsearch .material-icons{
    color: $lightgray1;
    font-size: 80px;
    &:hover{
        cursor: pointer;
        color: $lightblue;
        @include transition(all 0.3s);
    }
}

.morphsearch.open {
    position: fixed;
	width: 100%;
	min-height: 100%;
	top: 0px;
	right: 0px;
    border-radius: 0;
    margin: 0;
}

.morphsearch-form {
	width: 100%;
	height: $search-height;
	margin: 0 auto;
	position: relative;
}

.morphsearch.open .morphsearch-form {
	width: 80%;
	height: 160px;
    @include transform(translate3d(0,3em,0))
}

.morphsearch-input {
    font-family: FontAwesome;
    font-size: 18px;
	width: 100%;
	height: 100%;
	padding: 0 10% 0 12px;
	font-weight: 700;
	border: none;
    border-radius: 12px;
	background: $search-bg;
	font-size: 18px;
	color: $lightblue;
}

.morphsearch-input::-ms-clear { /* remove cross in IE */
    display: none;
}

.morphsearch.hideInput .morphsearch-input {
	color: transparent;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.morphsearch.open .morphsearch-input {
    font-family: $main-font;
    background: $search-bg;
    font-size: 7em;
    text-indent: 20px;
    padding-right: 150px;
    cursor: default;
}

/* placeholder */

@include placeholder(morphsearch-input){
    color: darken($white, 15%);
}

@include placeholderHover(morphsearch-input){
    color: $white;
    cursor: pointer;
    @include transition(all 0.3s);
}

/* hide placeholder when active in Chrome */
.gn-search:focus::-webkit-input-placeholder {
	color: transparent;
}

input[type="search"] { /* reset normalize */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.morphsearch-input:focus,
.morphsearch-submit:focus {
	outline: none;
    font-family: $main-font;
    content: '';
    @include boxshadow(0 0 2px 2px $lightblue);
}

.morphsearch-submit {
    position: absolute;
	width: $search-height * 2;
	height: $search-height * 2;
	overflow: hidden;
	right: 5px;
	top: 50%;
	// background: transparent url('https://firebasestorage.googleapis.com/v0/b/tonal-development.appspot.com/o/assets%2Fheader%2Fsearch_black_2x.png?alt=media&token=25974218-1111-4130-b27f-4a8016d030c6') no-repeat center center;
    opacity: 0;
    background-size: 100%;
	border: none;
    color: $darkgray1;
    z-index: 2000;
	pointer-events: none;
	transform-origin: 50% 50%;
	-webkit-transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
	transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
}

.morphsearch.open .morphsearch-submit {
	pointer-events: auto;
	opacity: 1;
    color: $darkgray1;
	-webkit-transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
	transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.morphsearch-close {
	width: 36px;
	height: 36px;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 100%;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	-webkit-transform: scale3d(0,0,1);
	transform: scale3d(0,0,1);
}

.morphsearch.open .morphsearch-close {
	opacity: 1;
    color: $white;
    cursor: pointer;
	pointer-events: auto;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.morphsearch-close::before,
.morphsearch-close::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	border-radius: 3px;
	opacity: 0.7;
	background: $white;
    @include transition(all 0.1s);
}

.morphsearch-close:hover.morphsearch-close::before,
.morphsearch-close:hover.morphsearch-close::after {
	opacity: 1;
}

.morphsearch-close::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.morphsearch-close::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.morphsearch-content {
    display: flex;
	color: $white;
	margin-top: 4.5em;
	width: 100%;
	height: 0;
	overflow: scroll;
	position: absolute;
	pointer-events: none;
	opacity: 0;
}

.morphsearch.open .morphsearch-content {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    opacity: 1;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    pointer-events: auto;
    -webkit-transition: opacity .3s .5s;
    transition: opacity .3s .5s;
}

.fadeInUp {
  -webkit-animation: fadeInUp .5s; /* Safari 4+ */
  -moz-animation:    fadeInUp .5s; /* Fx 5+ */
  -o-animation:      fadeInUp .5s; /* Opera 12+ */
  animation:         fadeInUp .5s; /* IE 10+, Fx 29+ */
}

.dummy-column {
	min-width: 40%;
	padding: 1.2em;
	float: left;
	// opacity: 0;
    overflow-y: scroll;
	// -webkit-transform: translate3d(0,100px,0);
	// transform: translateY(100px);
	// -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	// transition: transform 0.5s, opacity 0.5s;
}

.dummy-column h2 {
	font-size: 1em;
	letter-spacing: 1px;
    text-align: left;
    text-indent: 10px;
	text-transform: uppercase;
	font-weight: 800;
	color: $white;
	padding: 0.5em 0;
}

.round {
	border-radius: 50%;
}

.dummy-media-object {
	padding: 0.75em;
	display: block;
	margin: 0.3em 0;
	cursor: pointer;
	border-radius: 5px;
	background: $search-media-bg1;
}

.dummy-media-object:hover,
.dummy-media-object:focus {
	background: $search-media-bg2;
    @include boxshadow(inset 0 0 2px 2px $search-media-border);
}

.dummy-media-object img {
	display: inline-block;
	width: 50px;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.dummy-media-object h3 {
	vertical-align: middle;
	font-size: 0.85em;
	display: inline-block;
	font-weight: 700;
	margin: 0 0 0 0;
	width: calc(100% - 70px);
	color: rgba(145,145,145,0.7);
}

.dummy-media-object:hover h3 {
	color: $lightblue;
}

/* Overlay */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphsearch.open ~ .overlay {
	opacity: 1;
}

// @include breakpoint(medium down){
//     .morphsearch, .morphsearch-form, .morphsearch-input{
//         background: transparent;
//         content: '';
//     }
//
//     .morphsearch:after{
//         font-family: FontAwesome;
//         top: ($header-height - $search-height) / 2;
//         right: 20px;
//         font-size: 24px;
//         position: absolute;
//         color: red;
//         content: "\f002";
//     }
//
//     .morphsearch.open{
//         .morphsearch, .morphsearch-form, .morphsearch-input{
//             background: $search-bg;
//         }
//     }
//
// }

@media screen and (max-width: 53.125em) {
	// .morphsearch-input {
	// 	padding: 0 25% 0 10px;
    //     cursor: pointer;
	// }
    // .morphsearch.open .morphsearch-content {
    //     display: flex;
    //     flex-flow: column;
    //     flex-wrap: wrap;
    // }
	.morphsearch.open .morphsearch-input {
		font-size: 2em;
	}
	// .dummy-column {
	// 	float: none;
	// 	width: auto;
	// 	padding: 0 0 2em;
	// }
	// .dummy-column:nth-child(2) {
	// 	margin: 0;
	// }
	// .morphsearch.open .morphsearch-submit {
	// 	-webkit-transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
	// 	transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
	// }
}

@include breakpoint(medium down) {
    .morphsearch-input{
        @include transition(all 0.2s);
        background: $search-bg;
        &:hover {
            cursor: pointer;
            @include transition(all 0.2s);
        }
	}

    @include placeholderHover(morphsearch-input){
        cursor: pointer;
        @include transition(all 0.2s);
    }

	.morphsearch {
		width: $search-height;
        cursor: pointer;
	}

    .morphsearch.open{
        overflow-y: scroll;
    }
    .morphsearch.open .morphsearch-content {
        display: block;
        height: auto;
    }

    .dummy-column{
        min-width: 100%;
        padding: 0 10%;
    }
}
