.user-preview {
    position: fixed;
    z-index: 10;
    width: 400px;
    color: $white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: $boxshadow;

    .user-preview-does-not-exist{
        background: rgba(0,0,0,0.85);
        font-size: 14px;
        text-align: center;
        padding: 20px;

        .fa{
            display: block;
            font-size: 48px;
            padding-bottom: 10px;
            color: $blue;
        }
    }

    .user-preview-follow-action {
        position: absolute;
        background: rgba(100,100,100,.75);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        top: 70px;
        left: 0;
        font-size: 14px;

        .fa{
            color: white;
            padding-right: 5px;
        }

        .fa-heart{
            color: $pink;
        }

        .fa-check{
            color: $lightgreen;
        }
    }

    .user-preview-top {
        background: rgba(0,0,0,0.85);
        display: flex;
        font-family: $main-font;

        .user-preview-avatar {
            background: rgba(255,255,255,0.9);
            display: inline-flex;
            height: $user-preview-avatar;
            width: $user-preview-avatar;

            img{
                height: $user-preview-avatar;
                width: $user-preview-avatar;
            }
        }

        .user-preview-info {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1;
            padding: 10px;
            font-size: 16px;

            .user-preview-name {
                font-size: 24px;
                font-weight: bold;
            }

            .user-preview-username {
                font-size: 14px;
                font-weight: 100;
                padding: 1px 0 0;
            }

            .user-preview-location {
                padding-top: 15px;

                .fa{
                    padding-right: 3px;
                    color: $blue;
                }
            }
        }
    }

    .user-preview-bottom{
        background: rgba(25,25,25,0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-family: $login-font;

        .user-preview-friendship{
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 1.3;
            padding: 5px 0;
            width: 25%;
            text-align: center;
            border-right: 1px solid rgba(0,0,0,0.75);

            .user-preview-friendship-label{
                padding: 5px 0;
                text-transform: uppercase;
                color: $white;
            }

            .user-preview-friendship-count{
                font-weight: 700;
                font-size: 18px;
            }
        }

        .user-preview-friendship:last-child{
            border-right: none;
        }
    }
}
