.user-list {
    position: absolute;
    z-index: 1;
    background: rgba(0,0,0,.9);
    max-width: 300px;
    max-height: 300px;
    line-height: 1;
    overflow-y: scroll;

    .user-list-item {
        position: relative;
        display: block;
        padding: 0 10px 0 0;
        height: 30px;
        line-height: 1;

        .user-list-avatar {
            display: inline-block;
            height: 30px;
            width: 30px;
        }

        .user-list-display-name {
            display: inline-block;
            height: 30px;
            padding: 0 0 0 10px;
            color: $white;
            font-size: 14px;
        }

        &:hover{
            background: $blue;
            @include transition(0.2s all);
        }
    }
}
