$composer-font-size: 20px;

.composer{
    background: #eee;
    color: #333;
    cursor: text;
    min-height: 100px;
    max-height: 200px;
    line-height: 1.2;
    letter-spacing: 0.1px;
    font-size: $composer-font-size;
    font-family: $main-font;
    overflow-y: scroll;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
    resize: none;
    outline: none;
    overflow-y: auto;
    overflow-x: hidden;
    @include transition(all, 0.5s);

    &.composer-zoom-in{
        background: #fff;
        box-shadow: 3px 15px 15px 2px  rgba(0,0,0,0.5);
        @include transition(all 0.5s);
    }

    span{
        pointer-events: none;
    }
}

#composer{
    font-size: $composer-font-size;
    font-family: $main-font;
    color: #333;
    padding: 10px;
}

.composer-controls {
    display: block;
    padding-bottom: 6px;
    line-height: normal;

    .composer-control {
        display: inline-block;
        cursor: pointer;
        border: 1px solid #bbb;
        padding: 5px 25px;
        margin: 0 5px 0 0;
        color: #ccc;
        border-radius: 1px;
        box-shadow: 0 1px 2px rgba(0,0,0,.5);
        font-size: 18px;

        .composer-control-label {
            width: inherit;
            position: absolute;
            margin-left: -25px;
            margin-top: -10px;
            font-size: 10px;
            text-transform: uppercase;
            text-indent: 2px;
            letter-spacing: 1px;
            opacity: 0;
            pointer-events: none;
            @include transition(0.2s all cubic-bezier(0.095, 0.995, 0.040, 1.005));
        }

        &:hover{
            border: 1px solid $lightblue;
            color: $lightblue;
            @include transition(0.2s all cubic-bezier(0.095, 0.995, 0.040, 1.005));

            .composer-control-label{
                color: $lightblue;
                opacity: 1;
                margin-top: -20px;
                @include transition(0.2s all);
            }
        }

        &.selected{
            border: 1px solid $lightgreen;
            color: $lightgreen;
            @include transition(0.2s all);

            .composer-control-label{
                color: $lightgreen;
                opacity: 1;
                margin-top: -20px;
                @include transition(0.2s all);
            }
        }
    }
}

.composer-button {
    padding: 30px 0 0;
}

.composer-placeholder {
    color: $light-gray;
}

.composer-emoji,
.emojione {
    height: $composer-font-size;
    width: $composer-font-size;
}

.composer-sticker {
    display: block;
}

.composer-image-previewer {
    display: block;
    text-align: center;
    max-height: 125px;
    overflow: scroll;
    background: #eaeaea;
    padding: 10px 0 0;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    @include transition(0.2s all);

    &.warning-light{
        background: lighten($alert-error, 29%);
        @include transition(0.2s all);
    }
}

.composer-image-previewer-label {
    position: absolute;
    font-size: 10px;
    text-indent: 10px;
    letter-spacing: 1px;
    color: #aaa;
    @include transition(0.2s all);

    &.warning-light{
        color: $alert-error;
        @include transition(0.2s all);
    }
}

.composer-image-previewer-clear {
    position: absolute;
    right: 20px;
    margin-top: -5px;
    font-size: 18px;
    cursor: pointer;
    color: #bbb;

    &:hover{
        color: $alert-error;
        @include transition(0.2s all);
    }
}

.composer-image-preview-wrapper {
    width: 50%;
    margin: 0 auto;
}

.composer-image-uploader {
    display: block;
    text-align: center;
    overflow: scroll;
    color: #aaa;
    background: #eaeaea;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    @include transition(0.2s all);

    &.warning-light{
        background: lighten($alert-error, 29%);
        @include transition(0.2s all);
    }
}

.composer-image-dropzone-text {
    display: block;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
    border: 5px dashed #aaa;
    color: $alert-default;
    cursor: pointer;
    @include transition(0.2s all);

    span{
        display: block;
        line-height: 1.5;
        margin: 0;
    }

    &.dropzone-error{
        color: $alert-error;
        border: 5px dashed $alert-error;
        @include transition(0.2s all);
    }

    &:hover{

        color: $lightgreen;
        border: 5px dashed $lightgreen;
        @include transition(0.2s all);
    }
}

.composer-image-dropzone-text-title{
    font-weight: bold;
    font-size: 18px;
}

.composer-image-uploader-preview {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    opacity: 0.3;
}

.composer-image-uploader-alert {
    font-size: 16px;

    .fa{
        margin-right: 5px;
    }
}

.composer-hashtag {
    background: $highlight-hashtag;
    padding: 1px 2px;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    color: $black;
}

.composer-mention {
    background: $highlight-mention;
    padding: 1px 2px;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    color: $black;
}

.composer-link {
    color: $alert-info;
    cursor: pointer;
}
