.composer{
    background: #eee;
    color: #333;
    cursor: text;
    min-height: 100px;
    max-height: 200px;
    padding: 10px;
    line-height: 1.2;
    letter-spacing: 0.1px;
    font-size: 20px;
    font-family: $main-font;
    overflow-y: scroll;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
    resize: none;
    outline: none;
    overflow-y: auto;
    overflow-x: hidden;
    @include transition(all, 0.5s);

    &.composer-zoom-in{
        background: #fff;
        box-shadow: 3px 15px 15px 2px  rgba(0,0,0,0.5);
        @include transition(all 0.5s);
    }

    span{
        pointer-events: none;
    }
}

.composer-controls {
    display: block;
    padding-bottom: 6px;

    .composer-control {
        display: inline-block;
        cursor: pointer;
        padding: 4px 10px;
        color: $light-gray;
        background: $darkgray1;
        margin: 0 2px;
        font-size: 12px;
        text-shadow: 0 1px 2px rgba(0,0,0,0.5);
        border-radius: 5px;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.5);

        &:hover{
            background: $lightgray1;
            color: white;
        }
    }
}

.composer-button {
    padding: 30px 0 0;
}

.composer-placeholder {
    color: $light-gray;
}

.composer-hashtag {
    background: $lightblue;
    padding: 1px 2px;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    color: $black;
}

.composer-mention {
    background: $lightgreen;
    padding: 1px 2px;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    $color: black;
}
