$composer-font-size: 20px;

.composer{
    background: #eee;
    color: #333;
    cursor: text;
    min-height: 100px;
    max-height: 200px;
    padding: 10px;
    line-height: 1.2;
    letter-spacing: 0.1px;
    font-size: $composer-font-size;
    font-family: $main-font;
    overflow-y: scroll;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
    resize: none;
    outline: none;
    overflow-y: auto;
    overflow-x: hidden;
    @include transition(all, 0.5s);

    &.composer-zoom-in{
        background: #fff;
        box-shadow: 3px 15px 15px 2px  rgba(0,0,0,0.5);
        @include transition(all 0.5s);
    }

    span{
        pointer-events: none;
    }
}

#composer{
    font-size: $composer-font-size;
    font-family: $main-font;
    color: #333;
}

.composer-controls {
    display: block;
    padding-bottom: 6px;
    line-height: normal;

    .composer-control {
        display: inline-block;
        cursor: pointer;
        border: 1px solid #bbb;
        padding: 5px 25px;
        margin: 0 5px 0 0;
        color: #ccc;
        border-radius: 1px;
        box-shadow: 0 1px 2px rgba(0,0,0,.5);
        font-size: 18px;

        &:hover{
            border: 1px solid $lightblue;
            color: $lightblue;
            @include transition(0.2s all);
        }

        &.selected{
            border: 1px solid $lightgreen;
            color: $lightgreen;
            @include transition(0.2s all);
        }
    }
}

.composer-button {
    padding: 30px 0 0;
}

.composer-placeholder {
    color: $light-gray;
}

.composer-emoji {
    height: $composer-font-size;
    width: $composer-font-size;
}

.composer-hashtag {
    background: $lightblue;
    padding: 1px 2px;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    color: $black;
}

.composer-mention {
    background: $lightgreen;
    padding: 1px 2px;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    color: $black;
}

.composer-link {
    text-decoration: underline;
    color: $alert-info;
    cursor: pointer;
}
