.emoji-selector{
    position: absolute;
    width: 375px;
    background: #fefefe;
    z-index: 1;
    border: 1px solid #ccc;
    box-shadow: $boxshadow;
}

.emoji-selector-title {
    color: #aaa;
    font-size: 14px;
    padding: 4px 8px;
    text-align: right;
    box-shadow: 0 -2px 1px 0 rgba(0,0,0,0.3);
}

.emoji-selector-tabs {
    display: block;
    background: $dark-bg;

    .emoji-selector-tab{
        display: inline-block;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        padding: 7px;
        cursor: pointer;

        &:hover{
            -webkit-filter: contrast(1.4) saturate(1.8) sepia(.6);
            filter: contrast(1.4) saturate(1.8) sepia(.6);
            @include transition(0.2s all);
        }

        &.selected{
            filter: none;
            -webkit-filter: none;
            background: $white;
            @include transition(0.2s all);
        }

        .emoji-tab-img {
            height: 26px;
            width: 26px;
            pointer-events: none;
        }
    }
}

.emoji-test-button{
    font-size: 48px;
    display: block;
    text-align: center;
    cursor: pointer;
}

.emoji-container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height: 180px;
    overflow-y: scroll;
    padding: 5px;
    color: #aaa;

    .hidden{
        display: none;
    }

    .emoji-placeholder{
        color: #aaa;
    }

    .emoji-placeholder-text {
        padding-left: 5px;
    }
}

.emoji-selector-search-clear{
    position: absolute;
    right: 0;
    padding-right: 10px;
    padding-top: 10px;
    cursor: pointer;

    .fa{
        color: $lightgray1
    }

    &:hover{
        .fa{
            color: $alert-error;
            @include transition(color 0.2s);
        }
    }
}

.emoji-selector-search-input {
    margin-bottom: 0;
}

.emoji-not-found{
    padding-left: 5px;
}

.emoji-skin-tone-modifiers {
    display: flex;
    height: 32px;
    width: 100%;
    padding-right: 10px;
    justify-content: flex-end;
}

.emoji-skin-tone-modifier {
    display: inline-block;
    height: 18px;
    text-align: center;
    padding: 2px;
    margin: 0 1px;
    @include transition(all 200ms cubic-bezier(.27,1.27,.48,.56));

    &:first-child{
        -webkit-filter: saturate(4);
        filter: saturate(4);
    }

    &:hover{
        cursor: pointer;

        img{
            @include transform(scale(1.4));
            @include transition(all 200ms cubic-bezier(.27,1.27,.48,.56));
        }
    }

    img{
        pointer-events: none;
        height: 16px;
        width: 16px;
    }

    &.selected{

        cursor: auto;
        @include transition(all 200ms cubic-bezier(.27,1.27,.48,.56));

        img{
            box-shadow: inset 0 0 0 1px $black,
                        0 0 0 1px $black;
            border-radius: 50%;
        }

        &:hover{

            img{
                @include transform(none);
                @include transition(none);
            }
        }
    }
}

.emoji-item{
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 4px 2px 2px;
    margin: 2px;
    @include transition(all 200ms cubic-bezier(.27,1.27,.48,.56));

    &:hover{
        box-shadow: 0 0 1px 2px $alert-info;
        cursor: pointer;
        @include transition(all 200ms cubic-bezier(.27,1.27,.48,.56));
    }

    .emoji-img{
        pointer-events: none;
        height: 24px;
        width: 24px;
    }
}
