.mention-suggestions{
    position: absolute;
    padding: 16px;
    max-width: 300px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    background: hsla(0,0%,100%,.95);
    color: #313131;
    z-index: 2;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 15px 3px 25px 0 rgba(0,0,0,0.3);
}
