.landing-section{
    height: 100vh;
    width: 100vw;
    background: $orange;
}

.section-1{
    background: url('https://firebasestorage.googleapis.com/v0/b/tonal-development.appspot.com/o/assets%2Flanding%2FTonal_Wallpaper_BG.jpg?alt=media&token=eeb451a7-eb36-46b5-b7e0-d91b72db1140') no-repeat center;
    background-size: cover;
}
