@mixin alertTheme{

    $alertThemes: (
        default $alert-default $light-text,
        info $alert-info $light-text,
        success $alert-success $dark-text,
        error $alert-error $light-text,
        warning $alert-warning $dark-text,
        admin $alert-admin $light-text
    );

    @each $item in $alertThemes{

        &.#{nth($item, 1)}{
            background: rgba(nth($item, 2), .97);

            .tonal-alert-title{
                background: darken(rgba(nth($item, 2), .97), 5%);
            }

            h4, p{
                color: nth($item, 3);
            }
        }
    }
}

.fullscreen {
    background-color: $modal-bg;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 11000;
    justify-content: center;
    align-items: center;
    display: flex;
}

.tonal-alert{
	background: $alert-default;
	width: 100%;
	min-height: 150px;
	color: $light-text;
    padding: 0;

    .fa{
        padding-right: 10px;
    }

    .tonal-alert-title{
        padding: 10px 25px;
        font-size: 24px;
    }

    .tonal-alert-body{
        padding: 25px;
    }

    .tonal-alert-message{
        font-size: 18px;
    }

    &.alert-fullscreen{
        text-align: center;
        width: 90%;
    }

    .tonal-alert-buttons {
        padding-top: 30px;
        font-size: 18px;

        .tonal-alert-button {
            padding: 10px;
        }
    }

    @include alertTheme;
}

@include breakpoint(small only){
    .tonal-alert{
        position: absolute;
    }
}
