.small-menu {
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0px;
    width: 250px;
    background: rgba(0,0,0,0.8);
    color: $white;
    overflow-x: hidden;
    font-size: 14px;
    box-shadow: $boxshadow;

    &.medium{
        width: 300px;
    }

    &.large{
        width: 350px;
    }

    .small-menu-option,
    .small-menu-divider{
        width: inherit;
        padding: 8px 10px;

        .fa{
            color: $white;
            width: 20px;
            margin-right: 5px;
            padding-top: 0;

            &.yellow{
                color: $yellow;
            }

            &.white{
                color: $white;
            }

            &.magenta{
                color: $magenta;
            }

            &.lightgreen{
                color: $lightgreen;
            }

            &.orange{
                color: $orange;
            }

            &.lightgray{
                color: $lightgray1;
            }

            &.midgray{
                color: $midgray1
            }

            &.purple{
                color: $purple;
            }

            &.pink{
                color: $pink;
            }

            &.blue{
                color: $blue;
            }

            &.lightblue{
                color: $lightblue;
            }

            &.lightorange{
                color: $alert-admin;
            }

            &.lightyellow{
                color: $alert-warning;
            }

            &.lightred{
                color: $alert-error;
            }
        }
    }

    .small-menu-option{

        &:hover{
            background: $blue;
            @include transition(0.2s background);

            &.yellow{
                background: $yellow;
                @include transition(0.2s background);
            }

            &.magenta{
                background: $magenta;
                @include transition(0.2s background);
            }

            &.lightgreen{
                background: $lightgreen;
                @include transition(0.2s background);
            }

            &.orange{
                background: $orange;
                @include transition(0.2s background);
            }

            &.darkorange{
                background: darken($orange, 5%);
                @include transition(0.2s background);
            }

            &.lightgray{
                background: $lightgray1;
                @include transition(0.2s background);
            }

            &.purple{
                background: $purple;
                @include transition(0.2s background);
            }

            &.blue{
                background: $blue;
                @include transition(0.2s background);
            }

            &.red{
                background: $red;
                @include transition(0.2s background);
            }
        }
    }

    .small-menu-icon {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        float: left;

        .fa-stack{
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            line-height: inherit;

            .fa-stack-1x {
                position: absolute;
                text-align: left;
            }

            .fa-bolt {
                color: rgba(0,0,0,0.9);
                left: 25%;
                font-size: 70%;
            }
        }
    }

    .small-menu-text {
        line-height: 1.1;
    }

    .small-menu-description {
        padding-top: 5px;
        font-size: 11px;
        color: #ddd;
    }

    .small-menu-divider {
        height: 1px;
        padding: 0;
        margin: 5px 0;
        background: rgba(255,255,255,0.1);
    }
}
