.tonal-post {
    // background: #818181;
    background: rgba(224, 226, 241, 0.28);
    // background: rgba(224, 226, 241, 0.2);
    margin: 20px 0;
    border-top: 1px solid $lightblue;
    border-bottom: 1px solid $lightblue;
    // @include boxshadow(2px 2px 4px rgba(0,0,0,0.2));
    @include boxshadow(5px 6px 13px 1px rgba(0, 0, 0, 0.23));

    .fa{
        color: rgba(0,0,0,0.3);
    }

    .tonal-post-top {
        position: relative;
        display: flex;
        padding: 10px;
        align-items: center;

        .tonal-post-menu {
            position: absolute;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            top: 10px;
            right: 10px;

            .fa{
                color: rgba(0,0,0,0.7);
            }
        }

        .tonal-post-avatar {
            display: inline-flex;
            height: $post-avatar-size;
            width: $post-avatar-size;
            overflow: hidden;
            border: 2px solid transparent;
            border-radius: 50%;
            @include transition(0.3s all cubic-bezier(0.165, 0.840, 0.440, 1.000));

            &:hover{
                border: 2px solid $lightblue;
                @include transition(0.3s all cubic-bezier(0.165, 0.840, 0.440, 1.000));
            }
        }

        .tonal-post-info {
            display: inline-block;

            .tonal-post-display-name {
                font-weight: 600;
                display: inline-block;
                padding-left: 10px;
                color: $lightblue;
            }

            .tonal-post-timestamp {
                display: block;
                text-indent: 10px;
                font-size: 12px;
            }
        }
    }

    .tonal-post-editor {
        position: relative;
        z-index: 10;
        margin: 10px;
        padding: 20px;
        border: 1px solid rgba(0,0,0,0.2);
        background: rgba(0,0,0,0.1);

        .tonal-post-editor-close {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 50%;
            right: 5px;
            top: 5px;
            cursor: pointer;
            @include transition(0.2s all);

            .fa{
                color: rgba(0,0,0,0.2) !important;
                @include transition(0.2s all);
            }

            &:hover{
                border: 1px solid $white;
                @include transition(0.2s all);

                .fa{
                    color: $white !important;
                    @include transition(0.2s all);
                }
            }
        }
    }

    .tonal-post-image {
        padding: 10px;
        margin-top: 10px;

        &.fullwidth{
            padding: 0px;
            width: 100%;
            max-height: 500px;
            overflow: hidden;

            .post-image-fullwidth{
                object-fit: cover;
                object-position: center center;
                cursor: pointer;
                @include transform(scale(1));
                @include transition(0.5s all);

                &:hover{
                    @include transform(scale(1.04));
                    @include transition(0.5s all);
                }
            }


        }
    }

    .tonal-post-message {
        padding: 10px;
        line-height: 1.2;
        font-size: $post-font-size;

        a {
            color: $lightblue;
            @include transition(0.2s all);

            &:hover{
                color: darken($lightblue, 30%);
                @include transition(0.2s all);
            }
        }

        img {
            height: $post-font-size;
            width: $post-font-size;
        }

        &.large{
            font-size: $post-large-font-size;

            img {
                height: $post-large-font-size;
                width: $post-large-font-size;
            }
        }
    }

    .tonal-post-interactions {
        border-top: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding: 5px 0;
        font-size: 18px;
        color: rgba(255,255,255,0.8);

        .tonal-post-interaction {
            position: relative;
            display: inline-block;
            padding: 0 20px;
            color: darken($white, 10%);
            @include transition(0.2s all);

            .fa{
                padding-right: 10px;
                pointer-events: none;
            }

            span{
                pointer-events: none;
            }
            &.active{
                .fa{
                    color: $lightblue;
                }
            }
        }

        .tonal-post-interaction-likes {
            float: right;

            span{
                opacity: 1;
            }
        }
    }

    .tonal-post-display-name,
    .tonal-post-reply-display-name {
        cursor: pointer;

        &:hover{
            color: darken($lightblue, 20%);
            @include transition(0.2s color);
        }
    }

    .tonal-post-interaction {
        cursor: pointer;

        &:hover{

            color: rgba(255,255,255,1);

            .fa{
                color: $lightgray1;
                @include transition(0.2s color);
            }
        }
    }

    .tonal-post-menu{
        cursor: pointer;

        &:hover{
            .fa-angle-down{
                color: $white;
                @include transition(0.2s color);
            }
        }
    }

    .tonal-post-reply-likes {
        cursor: pointer;

        &:hover{
            .fa{
                color: darken($lightblue, 20%);
                @include transition(0.2s color);
            }
        }
    }

    .post-mention{
        color: $lightblue;
        @include transition(0.2s all);

        &:hover{
            color: darken($lightblue, 20%);
            @include transition(0.2s all);
        }
    }
}

.feed-nofeed {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 50px 20px;
    background: rgba(0,0,0,0.3);
    font-size: 18px;
    letter-spacing: 1.1px;
    line-height: 2.5;
    font-weight: 300;
    border-radius: 4px;
}
