.tonal-post {
    background: #818181;
    margin: 20px 0;
    border-top: 1px solid $lightblue;
    border-bottom: 1px solid $lightblue;
    @include boxshadow(2px 2px 4px rgba(0,0,0,0.2));

    .fa{
        color: rgba(0,0,0,0.3);
    }

    .tonal-post-top {
        position: relative;
        display: flex;
        padding: 10px;
        align-items: center;

        .tonal-post-menu {
            position: absolute;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            top: 10px;
            right: 10px;

            .fa{
                color: rgba(0,0,0,0.7);
            }
        }

        .tonal-post-avatar {
            display: inline-flex;
            height: $post-avatar-size;
            width: $post-avatar-size;
        }

        .tonal-post-info {
            display: inline-block;

            .tonal-post-display-name {
                font-weight: 600;
                display: inline-block;
                padding-left: 10px;
                color: $lightblue;
            }

            .tonal-post-timestamp {
                display: block;
                text-indent: 10px;
                font-size: 12px;
            }
        }
    }

    .tonal-post-image {
        padding: 10px;
        margin-top: 10px;

        &.fullwidth{
            padding: 0px;
            width: 100%;
            max-height: 500px;
            overflow: hidden;

            .post-image-fullwidth{
                object-fit: cover;
                object-position: center center;
                cursor: pointer;
                @include transform(scale(1));
                @include transition(0.5s all);

                &:hover{
                    @include transform(scale(1.04));
                    @include transition(0.5s all);
                }
            }


        }
    }

    .tonal-post-message {
        padding: 10px;
        line-height: 1.2;
        font-size: $post-font-size;

        a {
            color: $lightblue;
            @include transition(0.2s all);

            &:hover{
                color: darken($lightblue, 30%);
                @include transition(0.2s all);
            }
        }

        img {
            height: $post-font-size;
            width: $post-font-size;
        }

        &.large{
            font-size: $post-large-font-size;

            img {
                height: $post-large-font-size;
                width: $post-large-font-size;
            }
        }
    }

    .tonal-post-interactions {
        border-top: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding: 5px 0;
        font-size: 14px;
        color: rgba(255,255,255,0.8);

        .tonal-post-interaction {
            display: inline-block;
            padding: 0 20px;

            .fa{
                padding-right: 10px;
            }
        }

        .tonal-post-interaction-likes {
            float: right;
            color: $lightgray1;
        }
    }

    .tonal-post-thread {
        padding: 0 20px 10px 20px;

        .tonal-post-reply {
            padding: 10px 0;

            .tonal-post-reply-avatar {
                padding-top: 10px;
                display: inline-block;
                height: 40px;
                width: 40px;
                float: left;
            }

            .tonal-post-reply-display-name {
                padding-left: 10px;
                display: inline-block;
                font-weight: 600;
                font-size: 14px;
                color: $lightblue;
            }

            .tonal-post-reply-message {
                margin-top: px;
                text-indent: 10px;
                font-size: 14px;
            }

            .tonal-post-reply-info {
                display: block;
                font-size: 14px;
                padding-left: 40px;

                .fa{
                    padding-right: 5px;
                }

                .tonal-post-reply-likes {
                    display: inline-block;
                    text-indent: 5px;
                }

                .tonal-post-reply-timestamp {
                    display: inline-block;
                    margin-left: 10px;
                    font-size: 12px;
                    color: rgba(255,255,255,.5);
                }
            }
        }
    }

    .tonal-post-display-name,
    .tonal-post-reply-display-name {
        cursor: pointer;

        &:hover{
            color: darken($lightblue, 20%);
            @include transition(0.2s color);
        }
    }

    .tonal-post-interaction-like,
    .tonal-post-interaction-reply,
    .tonal-post-interaction-share {
        cursor: pointer;

        &:hover{

            color: rgba(255,255,255,1);

            .fa{
                color: darken($lightblue, 20%);
                @include transition(0.2s color);
            }
        }
    }

    .tonal-post-menu{
        cursor: pointer;

        &:hover{
            .fa-angle-down{
                color: $white;
                @include transition(0.2s color);
            }
        }
    }

    .tonal-post-reply-likes {
        cursor: pointer;

        &:hover{
            .fa{
                color: darken($lightblue, 20%);
                @include transition(0.2s color);
            }
        }
    }

    .post-mention{
        color: $lightblue;
        @include transition(0.2s all);

        &:hover{
            color: darken($lightblue, 20%);
            @include transition(0.2s all);
        }
    }
}
