.connect-container {
    position: relative;
    padding: $content-top-padding 0;
    width: $content-width;
    margin: 0 auto;
    background: transparent;
    
    @include breakpoint(small only){
        width: $content-width-small-view;
    }
}
